.bg-cover {
	background-image: var(--image);
	background-size: cover;
	background-position: center;
}

@if (config('color')) {
	@each $key, $value in config('color') {
		@include responsive-utility('bg-#{$key}') {
			background-color: $value;

			&\:hover:hover {
				background-color: $value;
			}
		}
	}
}
