/**
 * Be careful with box-shadows on child elements
 * inside a cluster. Because of how the margins work,
 * we have to hide the overflow, so they'll likely be cut off
 */

.cluster {
	--gap: var(--space-2);
	overflow: hidden;
}

.cluster > * {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: calc(var(--gap) / 2 * -1);
}

.cluster--center > *,
.cluster--centre > * {
	justify-content: center;
}

.cluster > * > * {
	margin: calc(var(--gap) / 2);
}
