@for $i from 1 through 12 {
    @include responsive-utility('.cols-#{$i}') {
        grid-template-columns: repeat($i, 1fr);
    }

    @include responsive-utility('.rows-#{$i}') {
        grid-template-rows: repeat($i, 1fr);
    }

    @include responsive-utility('.col-span-#{$i}') {
        grid-column-end: span $i;
    }

    @include responsive-utility('.row-span-#{$i}') {
        grid-row-end: span $i;
    }

    @include responsive-utility('.col-start-#{$i}') {
        grid-column-start: $i;
    }

    @include responsive-utility('.row-start-#{$i}') {
        grid-row-start: $i;
    }
}

.auto-grid {
    --gap: var(--space-4);
    --min-width: 10rem;

    @extend .grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
    gap: var(--gap);
}
