@if (config('space')) {
	@each $key, $value in config('space') {
		@include responsive-utility('px-#{$key}') {
			padding-left: $value;
			padding-right: $value;
		}

		@include responsive-utility('py-#{$key}') {
			padding-top: $value;
			padding-bottom: $value;
		}

		@include responsive-utility('p-#{$key}') {
			padding: $value;
		}
	}
}
