@if (config('space')) {
	@each $key, $value in config('space') {
		.gap-#{$key} {
			--gap: #{$value};
		}
	}

	@each $key, $value in config('space') {
		@include responsive-utility('.px-#{$key}') {
			padding-left: $value;
			padding-right: $value;
		}

		@include responsive-utility('.py-#{$key}') {
			padding-top: $value;
			padding-bottom: $value;
		}
	}

	@each $key, $value in config('space') {
		@include responsive-utility('.ml-#{$key}') {
			margin-left: $value;
		}

		@include responsive-utility('.mt-#{$key}') {
			margin-top: $value;
		}
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
