/**
 * Display
 */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
    gap: var(--gap);
}

.hidden,
[hidden] {
    display: none;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
