@use 'mixins';

.error-page {
    display: grid;
    grid-template-rows: 1fr var(--space-56);
    height: 100vh;
}

.error-page__content {
    display: flex;
    align-items: center;
    padding: var(--space-6) var(--space-8);
}

.error-page__image {
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
}

@include mixins.mq(md) {
    .error-page {
        grid-template-columns: 1fr var(--space-64);
        grid-template-rows: auto;
    }

    .error-page__content {
        padding: var(--space-10) var(--space-20);
    }
}
