/**
 * Utility Map
 *
 * Generates utility classes using values from a map
 */
@mixin util-from-map($className, $selector, $map) {
	@each $key, $value in $map {
		$utilClassName: #{$className}-#{$key};

		// If a default key is present, use the
		// classname with no suffix
		@if ($key == 'default') {
			$utilClassName: $className;
		}

		.#{$utilClassName} {
			// Unquote string values like font families
			@if (type-of($value) == string) {
				$value: unquote($value);
			}
			#{$selector}: $value;
		}
	}
}
