@use 'sass:map';

.alert {
	--bg-color: var(--color-gray-10);
	--color: var(--color-gray-90);
	--padding: var(--space-4) var(--space-8);
	--radius: var(--radius-default);

	display: flex;
	align-items: center;
	border-radius: var(--radius);
	background-color: var(--bg-color);
	color: var(--color);
	padding: var(--padding);
}

// Define Named Variants
$variants: (
	'positive': (
		'color': var(--color-positive-10),
		'bg-color': var(--color-positive-70)
	),
	'negative': (
		'color': var(--color-negative-10),
		'bg-color': var(--color-negative-70)
	)
);

@each $key, $variant in $variants {
	.alert.--#{$key} {
		--bg-color: #{map.get($variant, 'bg-color')};
		--color: #{map.get($variant, 'color')};
	}
}
