@use 'sass:map';
@use 'functions';
@use 'tokens';

.btn {
	--bg-color: var(--color-gray-10);
	--color: var(--color-gray-90);
	--border: 0;
	--font-size: var(--text-sm);
	--radius: var(--radius-default);
	--padding: var(--space-2) var(--space-6);

	background-color: var(--bg-color);
	border: var(--border);
	border-radius: var(--radius);
	color: var(--color);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	font-size: var(--font-size);
	padding: var(--padding);
	text-decoration: none;
	transition: transform 180ms ease-in-out, box-shadow 180ms ease-in-out;
}

/* fix pointer event issues */
.btn > * {
	pointer-events: none;
}

.btn.--sm {
	--font-size: var(--size-sm);
	--padding: var(--space-2) var(--space-3);
}

.btn.--lg {
	--padding: var(--space-3) var(--space-6);
}

.btn.--link {
	--bg-color: transparent;
	--color: var(--color-blue-500, blue);
	text-decoration: underline;
}

/* Button colours */
@each $key, $value in map.get(tokens.$tokens, 'color') {
	.btn.--#{$key} {
		--bg-color: var(--color-#{$key});
		--color: #{functions.auto-color($value)};
	}
}

/* Hover style */
@media (hover: hover) {
	.btn:hover {
		box-shadow: var(--shadow-lg);
		transform: translate3d(0, calc(var(--space-px) * -1), 0);
	}
}

/* Focus style */
.btn:focus {
	box-shadow: var(--shadow-sm);
}
