.checkbox label,
.radio label {
	--icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE4LjcxLDcuMjFhMSwxLDAsMCwwLTEuNDIsMEw5Ljg0LDE0LjY3LDYuNzEsMTEuNTNBMSwxLDAsMSwwLDUuMjksMTNsMy44NCwzLjg0YTEsMSwwLDAsMCwxLjQyLDBsOC4xNi04LjE2QTEsMSwwLDAsMCwxOC43MSw3LjIxWiIvPjwvc3ZnPg==');
	--border-width: var(--space-half);
	--border-color: var(--color-gray-30);
	--border-color-checked: var(--color-neutral-50);
	--radius: var(--radius-default);

	display: flex;
	align-items: center;
	user-select: none;

	&:before {
		content: '';
		display: block;
		border: var(--space-half) solid var(--border-color);
		border-radius: var(--radius);
		width: var(--space-6);
		height: var(--space-6);
		margin-right: var(--space-2);
		pointer-events: none;
	}
}

.checkbox input:checked + label:before,
.radio input:checked + label:before {
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-position: center;
	border-color: var(--color-blue-500);
}

// Radio specific styling
.radio label {
	--icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiIGNsYXNzPSJ1aW0tcHJpbWFyeSIvPjwvc3ZnPg==');
	--radius: var(--radius-full);
}
