@use 'mixins';

.dropdown {
	--bg-color: var(--color-white);
	--color: var(--color-gray-70);
	--radius: var(--radius-default);
	--shadow: var(--shadow-xl);
	--padding: var(--space-2) 0;
	--link-padding: var(--space-2) var(--space-6);
	--link-hover-bg-color: var(--color-gray-10);
	--icon-size: var(--space-10);
	--min-width: var(--space-56);

	background-color: var(--bg-color);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	padding: var(--padding);
	position: relative;
	min-width: var(--min-width);
}

.dropdown > li > a {
	display: block;
	padding: var(--link-padding);

	@include mixins.mq(hover, hover) {
		&:hover {
			background-color: var(--link-hover-bg-color);
		}
	}
}

.dropdown__icon {
	fill: var(--bg-color);
	display: block;
	position: absolute;
	top: calc(var(--space-6) * -1);
	left: 0;
	width: var(--icon-size);
	height: var(--icon-size);
}
