@use 'mixins';

$input-types: 'input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"]';

label,
legend {
	color: var(--color-gray-70);
	font-weight: var(--weight-bold, 700);
	line-height: var(--leading-none);
}

legend {
	font-size: var(--size-lg);
}

#{$input-types},
select,
textarea {
	--border-width: var(--space-half);
	--border-color-hover: var(--color-gray-50);
	--border-color-focus: var(--color-neutral-50);

	border: var(--border-width) solid var(--color-gray-30);
	border-radius: var(--radius-md);
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	padding: var(--space-3) var(--space-4);
	width: 100%;

	&[data-state='invalid'] {
		border-color: var(--color-negative-50, red);
	}

	@include mixins.mq(hover, hover) {
		&:hover {
			border-color: var(--border-color-hover);
		}
	}

	&:focus {
		border-color: var(--border-color-focus);
		outline: none;
	}
}

textarea {
	--leading: var(--leading-default);
	line-height: var(--leading);
}

select {
	--icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE3LDkuMTdhMSwxLDAsMCwwLTEuNDEsMEwxMiwxMi43MSw4LjQ2LDkuMTdhMSwxLDAsMCwwLTEuNDEsMCwxLDEsMCwwLDAsMCwxLjQybDQuMjQsNC4yNGExLDEsMCwwLDAsMS40MiwwTDE3LDEwLjU5QTEsMSwwLDAsMCwxNyw5LjE3WiIvPjwvc3ZnPg==');

	appearance: none;
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-position: right 0.7em top 50%;
	background-size: 1.5em;
}
