---
title: Home
description: An SEO ready starter kit for 11ty with Design Tokens, Responsive Type Scale and Cypress Testing.
---

<main class="container flow flow-space-20 mw-md px-20 py-32">
    <header class="flow flow-space-2">
        <h1 class="size-4xl">11ty Starter</h1>
        <p class="c-gray-90">Everything you need to get up and running quickly with a new 11ty site.</p>
    </header>
    <article class="flow">
        <h2>Example Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et tellus libero. Etiam turpis magna, posuere nec lorem et, pulvinar fringilla leo. Aenean et lorem libero. </p>
    </article>
</main>