---
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
layout: default
---

<main class="container | flow flow-space-3 | py-20 px-12">
    <h1>404</h1>
    <p>The page you're looking for could not be found.</p>
</main>