---
layout: default
title: 11ty Starter
description: Hello
eleventyNavigation:
    key: Home
---

<main class="container | align-center | px-8 py-20 | flow">
    <img class="inline-block" src="/assets/images/11ty.png" alt="11ty" width="120" height="120">
    <nav class="cluster cluster--center gap-6">
        <ul>
            <li>
                <a class="btn" href="https://11ty.dev/docs">11ty Docs</a>
            </li>
            <li>
                <a class="btn" href="https://mozilla.github.io/nunjucks/">Nunjucks Docs</a>
            </li>
        </ul>
    </nav>
</main>

{% include "cg.njk" %}